{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "quotes": [
      "error",
      "double"
    ],
        "comma-dangle": [
          "error",
          {
            "arrays": "alwas",
            "objects": "alwas",
            "imports": "alwas",
            "exports": "alwas",
            "functions": "alwas"
          }
        ]
  }
}
